<div class="container-fluid">
    <h2>This is my dashboard</h2>
    <marquee class="AA" behavior="" direction="left">Wellcome to our website</marquee>
    <img src="https://th.bing.com/th/id/OIP.oaIKTTgiP9S0CDspRrr5KAHaEK?pid=ImgDet&rs=1" alt="">
    <marquee class="BB" behavior="" direction="up">Contrary to popular belief, Lorem Ipsum is not simply random<br> text. It has
         roots in a piece of classical Latin literature from 45 BC,<br> making it over 2000 years old. Richard McClintock, a
        Latin professor<br> at Hampden-Sydney College in Virginia, looked up one of the more<br> obscure Latin words,
        consectetur, from a Lorem Ipsum passage,<br> and going through the cites of the word in classical literature,
        <br>discovered the undoubtable source. Lorem Ipsum comes from sections<br> 1.10.32 and 1.10.33 of "de Finibus<br> Bonorum et
        Malorum" (The Extremes of Good and Evil) by Cicero,<br> written in 45 BC. This book is a treatise on the theory of
        ethics,<br> very popular during the Renaissance. The first line of Lorem <br> Ipsum, "Lorem ipsum dolor sit amet..",
        comes from a line in <br>section 1.10.32.

        The standard chunk of Lorem Ipsum used since the<br> 1500s is reproduced below for those interested. Sections
        <br>1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero<br> are also reproduced in their exact original
        form,>accompanied<br> by English versions from the 1914 translation by H. Rackham.</marquee>
</div>